import(methods)
import(RFigisGeo)
import(XML)
import(cleangeo)
import(httr)
import(rgeos)
import(sp)

export(buildGISLayerInfo)
export(buildSpatialDataset)
export(buildSpatialObject)
export(fetchFactsheetAreaInfo)
export(fetchFactsheetInfo)
export(fetchFactsheetSpeciesInfo)
export(readSpatialObject)
