import(methods)
import(sp)
import(rgeos)
import(maptools)
import(RFigisGeo)
import(cleangeo)
import(XML)
import(RCurl)

export(logger)
export(logger.info)
export(logger.warn)
export(logger.error)
export(prepareWFSRequest)
export(buildGISLayerInfo)
export(buildSpatialDataset)
export(buildSpatialObject)
export(buildSpatialMetadata)
export(fetchFactsheetReferences)
export(fetchFactsheetAreaInfo)
export(fetchFactsheetSpeciesInfo)
export(fetchFactsheetThematicApproachInfo)
export(fetchFactsheetGeorefInfo)
export(fetchFactsheetIndicatorInfo)
export(fetchFactsheetAgencyInfo)
export(fetchFactsheetStockInfo)
export(fetchFactsheetInfo)
export(readSpatialObject)
export(readSpatialObjects)
